*{
    margin:0;
    padding:0;
  }
  
  .container{  padding-top: 20px;
    padding-bottom: 20px;}
  body{
    background-color: #080808;
  }
  
  .background-img{
    background-image: url("https://d2r55xnwy6nx47.cloudfront.net/uploads/2018/07/Physarum_CNRS_2880x1500.jpg");
    height: 400px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    border: 1px solid #ffea3d;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #ffea3d;
    position: relative;
  }

  .background-img.rossBG{
    background-image: url("https://cdn.prod.www.spiegel.de/images/1ea1792c-0001-0004-0000-000000915608_w948_r1.77_fpx29.37_fpy45.jpg");
    height: 400px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    border: 1px solid #248f3b;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #248f3b;
    position: relative;
  }
  
  .content h2{ 
    font-size:19px;
    font-family: 'Lato', sans-serif;
    }

.background-img h1{ 
    font-size:28px;
    font-family: 'Lato', sans-serif;
    color: #ffea3d;
    }

    .background-img h3{ 
        font-size:12px;
        font-family: 'Lato', sans-serif;
        color: #ffea3d;
        margin-bottom: -9px;
        }

  .background-img h1.ross{ 
    font-size:28px;
    font-family: 'Lato', sans-serif;
    color: #248f3b;
    text-shadow: 3px 3px 20px #a9e0b5,
    -2px 1px 30px #a9e0b5;
    }
      
  .background-img h3.ross{ 
      font-size:12px;
      font-family: 'Lato', sans-serif;
      color: #248f3b;
      margin-bottom: -9px;
      text-shadow: 3px 3px 20px #a9e0b5,
      -2px 1px 30px #a9e0b5;
      }
        
  
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #424511a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(89, 90, 23);
    border: 2px solid #bdb03f;
    color: white;
    padding: 20px;
  }

  .box.ross{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #0b3f21a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(89, 90, 23);
    border: 2px solid #137027;
    color: white;
    padding: 20px;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #dfdd50;
    animation: animate 4s linear infinite;
  }

  .box.ross span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #126925;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 